.allButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.137);
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.countTodos {
  flex: 3;
  color: var(--btn-color);
  font-size: 0.75rem;
}

.allButton {
  width: 50px;
}
