.createTodoContainer {
  display: flex;
  margin-bottom: 30px;
  background-color: var(--container-bg);
  align-items: center;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.addTodoButton {
  opacity: var(--opacity);
}

.addTodoButton :hover {
  color: green;
}
