.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-right: 8px;
  margin-left: 5px;
  color: white;
}

.title {
  font-size: 1.3rem;
}

.fa-sun-o,
.fa-check-circle {
  color: white;
}
